.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 500vh;
  width: 100vw;
  overflow-x: hidden;
  color: var(--primary-color)
}

.main-content {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-content > * {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100vh;

}

.flex-left {
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-right {
  position: relative;
}